@import url("https://fonts.cdnfonts.com/css/bignoodle-titling");
@import url('https://fonts.cdnfonts.com/css/titillium-web');

body {
  font-family: 'BigNoodleTitling', Arial, Helvetica, sans-serif;
}

#footer {
  position: absolute;
  bottom: 20px;
}

